<header class="hero">

    <nav class="navbar">
        <a class="navbar__logo" href="/">
            <img class="navbar__pic" src="../../assets/images/logo1.png" alt="logo">
        </a>
        <div id="navbarsec" class="navbar__section">

            <ul class="navbar__inner">
                <li><a class="navbar__links" href="#about">About</a></li>
                <li><a class="navbar__links" href="#prog">Programme</a></li>
                <li><a class="navbar__links" href="/login">Chort</a></li>
                <li><a class="navbar__links" href="/login">Gallery</a></li>
            </ul>

            <ul class="navbar__login">
                <li><a id="homesign" class="navbar__btn" href="/login">Sign In</a></li>
                <li><a id="homereg"  class="navbar__btn" href="/login">Regsiter</a></li>
            </ul>
            <a id="closebar" class="navbar__closebar"href="#"><i class="far fa-times-circle"></i></a>
        </div>

    <a id="menubar" class="navbar__menubar"href="#"><i class="fas fa-align-justify"></i></a>
    </nav>

    <video autoplay muted loop class="hero__video">
        <source src="../../assets/images/pexels-alena-darmel-7659669.mp4" type="video/mp4">
    </video>

    <div class="navhero">
        <h2 class="navhero__text">Unlock Regional Career and Entrepreneurship Opportunities</h2>
    </div>

</header>