
<%- include('./partials/header.ejs') %>

<section class="programme">
    <div class="programme__content">
        <h3 class="programme__title">programme</h3>
    </div>
</section>

<section class="information">
    <div class="information__container">
        <div class="information__content">
            <p class="information__text">
                Our programme is structured to help you achieve your life goals. We make sure our students stand out academically and possess essential corporate traits that make them stand out among their peers. Our payment plans are super convenient for anyone who wants the best quality for their money. 
            </p>
        </div>
        <div class="information__video">
            <iframe class="information__vidlink" src="https://www.youtube.com/embed/pjJJ-5athpY"></iframe>

        </div>
    </div>
</section>
<section class="procedures">

    <div class="procedures__circles">
        <div class="procedures__circle"></div>
        <div class="procedures__circle"></div>
        <div class="procedures__circle"></div>
        <div class="procedures__circle"></div>
        <div class="procedures__circle lastcircle"></div>
    </div>

    <div class="procedures__contents">

        <div class="procedures__content">
            <p class="information__text">Choose a programme that suits your long-term goal; we recommend it's something you're super passionate about; this will help you become more committed to your study and bring the best out of you. We have over 15 listed full-time and part-time programmes.</p>
        </div>
        <div class="procedures__content">
            <p class="information__text">
                Reach out to our programme coordinators to check your eligibility. We recommend checking your programme page and see if you can apply for the programme. We do offer optional foundational courses for some highly technical courses like Artificial intelligence and Machine learning. 
            </p>
        </div>
        <div class="procedures__content">
            <p class="information__text">
                Gather the necessary documentation and enrol for our subsequent cohorts. Please make sure all documents are scanned and sent to your programme coordinator before the application deadline is reached, our courses are highly competitive, and the selective processes requires vetting all documents presented by applicants.
            </p>
        </div>
        <div class="procedures__content">
            <p class="information__text">
                Submit your application and appear for your admission interview sessions with our admission board. Your admission decision will be reached to you in two weeks maximum. We will send your admission decision to the email you used in registering with the open university
            </p>
        </div>
        <div class="procedures__content">
            <p class="information__text">
                If you're admitted, congratulation welcome to the best modern university in Eastern Africa, reach out to your program coordinator, if you stay outside Kenya, reaching out earlier would be of great advantage so you could start processing your student visa
            </p>
        </div>

    </div>
</section>
<section class="activities">
<div class="activities__title"><h3>Programme Activites</h3></div>

<div class="activities__lists">
    <ul class="activities__list">
        <li>Technical Sessions</li>
        <li>Excursion</li>
        <li>Mentorship</li>
        <li>Practical exprience</li>
    </ul>
    <ul class="activities__list">
        <li>Arts Session</li>
        <li>Sporting Activities</li>
        <li>Yoga Sessions</li>
        <li>Business Meetups</li>
    </ul>
    <ul class="activities__list">
        <li>Book review sessions</li>
        <li>Internship</li>
        <li>Open Day</li>
        <li>Poltical Awareness</li>
    </ul>
</div>

</section>

<section class="join">

    <div class="join__title">
        <h3>Why Join?</h3>
    </div>

    <div class="join__content">

        <p class="join__text"><span>We are an innovative modern Institution poised with the vision to utilize every talent in africa. Our teaching techniques are practical.</span></p>
      
            <a class="join__btn"href="https://open-university.herokuapp.com/login">Register</a>
        
    </div>

</section>



<!-- footer components -->
<%- include('./partials/footer.ejs') %>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.4.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.4.2/firebase-analytics.js"></script>

<script src="https://www.gstatic.com/firebasejs/8.4.2/firebase-auth.js"></script>

<script src="https://www.gstatic.com/firebasejs/8.4.2/firebase-database.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyCv8P1tJBFpRf-s_59SPFH0V-HQAxvKgW4",
    authDomain: "open-university-3c1ce.firebaseapp.com",
    projectId: "open-university-3c1ce",
    storageBucket: "open-university-3c1ce.appspot.com",
    messagingSenderId: "192430762373",
    appId: "1:192430762373:web:7fc33f39019ffcea7c3cec",
    measurementId: "G-53CVKY5KLH"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>