<%- include('./partials/header.ejs') %>

<section class="programme">
    <div class="programme__content">
        <h3 class="programme__title">programme List</h3>
    </div>
</section>

<section class="prog">

    <div class="prog__wrapper">

        <div class="prog__container">

            <div class="prog__content">
                <div class="prog__title">
                    <h4>Diploma in Artificial Intelligence</h4>
                </div>

                <div class="prog__description">
                    <p>Artificial intelligence (AI) makes it possible for machines to learn from experience, adjust to new inputs and perform human-like tasks.</p>
                </div>
            </div>

            <div class="prog__cta">
                <div class="prog__duration">
                    <h4>12 months</h4>
                </div>
                <a class="prog__btn" href="https://open-university.herokuapp.com/programme">APPLY</a>
            </div>
            
        </div>

        <div class="prog__container">

            <div class="prog__content">
                <div class="prog__title">
                    <h4>Diploma in Machine Learning</h4>
                </div>

                <div class="prog__description">
                    <p>Machine learning is important because of its wide range of applications and its incredible ability to adapt and provide solutions to complex problems efficiently, effectively and quickly.</p>
                </div>
            </div>

            <div class="prog__cta">
                <div class="prog__duration">
                    <h4>12 months</h4>
                </div>
                <a class="prog__btn" href="https://open-university.herokuapp.com/programme">APPLY</a>
            </div>
            
        </div>

        <div class="prog__container">

            <div class="prog__content">
                <div class="prog__title">
                    <h4>Diploma in Ecommerce</h4>
                </div>

                <div class="prog__description">
                    <p> Ecommerce gives businesses the ability to reach more customers than traditional retail reaches. With so many people making their purchases online, It is the fastest-growing retail market.</p>
                </div>
            </div>

            <div class="prog__cta">
                <div class="prog__duration">
                    <h4>12 months</h4>
                </div>
                <a class="prog__btn" href="https://open-university.herokuapp.com/programme">APPLY</a>
            </div>
            
        </div>

        <div class="prog__container">

            <div class="prog__content">
                <div class="prog__title">
                    <h4>Diploma in Business Leadership</h4>
                </div>

                <div class="prog__description">
                    <p> business leader's position is to inspire morale among the organization's employees. ... They can therefore work with the image in mind that their leader knows what their role is.</p>
                </div>
            </div>

            <div class="prog__cta">
                <div class="prog__duration">
                    <h4>12 months</h4>
                </div>
                <a class="prog__btn" href="https://open-university.herokuapp.com/programme">APPLY</a>
            </div>
            
        </div>
        <div class="prog__container">

            <div class="prog__content">
                <div class="prog__title">
                    <h4>Diploma in Corporate Communication</h4>
                </div>

                <div class="prog__description">
                    <p>Effective business communication is how employees and management interact among each other to reach organizational goals and be more aligned with the core company values.</p>
                </div>
            </div>

            <div class="prog__cta">
                <div class="prog__duration">
                    <h4>12 months</h4>
                </div>
                <a class="prog__btn" href="https://open-university.herokuapp.com/programme">APPLY</a>
            </div>
            
        </div>
        <div class="prog__container">

            <div class="prog__content">
                <div class="prog__title">
                    <h4>Diploma in Conflict Management</h4>
                </div>

                <div class="prog__description">
                    <p>By resolving conflicts in a more professional and respectful manner, they are enabled to collaborate better with co-workers, building stronger work relationships.</p>
                </div>
            </div>

            <div class="prog__cta">
                <div class="prog__duration">
                    <h4>12 months</h4>
                </div>
                <a class="prog__btn" href="https://open-university.herokuapp.com/programme">APPLY</a>
            </div>
            
        </div>

    </div>

</section>

<%- include('./partials/footer.ejs') %>