@import "./media_queries";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

$brandcolor: #000;

.hero{
    position: absolute;
    background-color: #000;
    align-items: stretch;

        height: fit-content;
       
    &__video{
        display: none;
    }
    .navhero{
        display: none;
    }

    .navbar{

        &__inner{
            @include mobile{
                display: none;
            }
            @include laptop{
                display: flex;
                visibility: hidden !important;
            }
            
        }

        &__login{
            display: flex;
            justify-content: center;
            flex-direction: row;
        }

        &__btn{
            background: #FFF;
            color: #000;
            @include mobile{
                padding: .4rem 1rem;
                margin-right: 2rem;
            }
            @include laptop{
                padding: .4rem 1.2rem;
            }
            
        }

        &__closebar{
            top: 19px;
            right: 1pc;
        }

        
    }
     
}

.login{

    padding:0;
    height: 100vh;
    background: #FFF;
    &__wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content:space-between;
        align-items: center;
    }

    &__pic{

        @include mobile{
            display: none;
        }

        @include tablet{
            width: 40%;
            height: 100%;
            background-image: linear-gradient(top, rgba(0, 0, 0, 0.3)),url(../images/dreams.jpg) ;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        


    }
    &__imgtext{
        font-size: 3rem;
        text-align: center;
        font-weight: 600;
        color: white;
    }

    &__imgsubtext{
        @extend .login__imgtext;
        font-size: 1.5rem;
       
    }

    &__interface{


        @include mobile{
            padding: 6%;
            width: 100%;
        }
        @include tablet{
            padding: 2%;
            width: 40%;
            display: flex;
            flex-direction: column;
            height: fit-content;
            margin-left: 6rem;
        }

        @include laptop_W{
            margin-left: 19rem;
        }
        
    }

    &__body{
        display: flex;
        flex-direction: column;
    }

    &__header{
        margin-bottom: 2rem;
    }
    &__title{
        font-size: 2rem;
        font-weight: 600;

        @include laptop_W{
            font-size:6rem;
        }
        
    }
    &__inputbody{
        
        height: 3rem;
        margin-bottom: 2rem;
        border: 1px solid #000;

        @include mobile{
            width: 100%;
        }
        @include laptop{
            width: 60%;
        }
        @include laptop_W{
            width: 75%;
            height: 5rem;
        }
    
        input{
            width: 100%;
            height: 100%;
            border: none;
            padding: 5px 12px;
        }
    }

    &__btn{

        border: none;
        padding: .6rem 2.4rem;
        border-radius: 15px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        background: #000;
        color: #FFF;

        @include mobile{
            width: 100%;
        }
        @include tablet{
            width: 60%;
        }

        @include laptop_W{
            padding: 2.5rem 2.4rem;
            width: 75%;
        }
        
    }


        &__footer{
            margin-top: 2rem;
        }

        &__footerlinks{
            text-decoration: none;
            border-bottom: 1px solid #000;
            color: #000;
            margin-right: 1rem;
        }

        &__hide{
            display: none;
        }


}


.error{
    color: red;
}

    